@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Montserrat',  'Oxygen',
    'Ubuntu', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MainPageCV {
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    width: 100%;
    min-height: 768px;
    background: #fff;
  }
  
  .MenuBurger {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 100;
    background: none;
    border: none;
    display: none;
  }
  
  @media screen and (max-width: 767px) {
    .MenuBurger {
      display: block;
    }
  }